@font-face {
  font-family: "iconfont"; /* Project id 5096108 */
  src: url('iconfont.woff2?t=1766494706808') format('woff2'),
       url('iconfont.woff?t=1766494706808') format('woff'),
       url('iconfont.ttf?t=1766494706808') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github2:before {
  content: "\e601";
}

.icon-bilibili:before {
  content: "\e605";
}

.icon-icon_bilibili-circle:before {
  content: "\e600";
}

