<footer id="footer" class="footer">

<button id="play-audio" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Ciallo～(∠・ω< )⌒★</button>

<script>
  var audio = new Audio('audio/ciallo.mp3'); // 替换为您的音频文件URL
  document.getElementById('play-audio').addEventListener('click', function() {
    audio.play();
  });
</script>

    <div class="copyright">
        <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
    </div>
</footer>
