@font-face {
  font-family: "iconfont"; /* Project id 5093876 */
  src: url('iconfont.woff2?t=1766241488197') format('woff2'),
       url('iconfont.woff?t=1766241488197') format('woff'),
       url('iconfont.ttf?t=1766241488197') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord-yixuanzhong:before {
  content: "\e7b2";
}

